:root {
  --primary-color: #004d40;
  --secondary-color: #e9c46a;
  --accent1-color: #2a9d8f;
  --accent2-color: #264653;
  --heading-font: "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
  --border: 3px solid #7c807c;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*html[Attributes Style] */ 
html {
    -webkit-locale: "en-US";
}

:root {
    view-transition-name: "root";
}

html {
    display: block;
}

head {
    display: none;
}

body {
  display: block;
  font-family: var(--heading-font);
  color: var(--accent2-color);
  background-color: #ffffff;
}

header, main, footer {
  max-width: 840px;
  width: 90%;
  margin: auto;
}

/* Headings */
h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
  margin-bottom: 16px;
}

/* Header Grid */
.header-grid {
  display: grid;
  grid-template-columns: 300px 1fr;
  align-items: center;
  background-color: var(--primary-color);
  margin: 1% auto;
  border: var(--border);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, main, footer {
  max-width: 840px;
  width: 90%;
  margin: auto;
}

header img {
    border: var(--border);
    background-color: #fff;
    margin: 1rem;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.header-grid .logo {
  width: 840px;

}

/* Navigation Flex */
.nav {
    display: flex;
    list-style: none;
    text-align: center;
}

nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

nav {
    display: block;
    unicode-bidi: isolate;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  display: block;
  list-style: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  unicode-bidi: isolate;
}

nav li {
  flex: 1 1 auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 li {
  display: list-item;
  unicode-bidi: isolate;
 }

nav a {
  display: block;
  text-decoration: none;
  color: var(--accent2-color);
  padding: 10px;
  font: 1.2rem Georgia;
  background-color: white;
  border: var(--border);
}

nav a:hover {
  background-color: var(--accent1-color);
}

/* Hero section */
.hero {
  position: relative;
  margin-bottom: 30px;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
  border: var(--border);
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.8;
  background-color: var(--accent1-color);
  color: var(--primary-color);
}

h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

div {
    display: block;
    unicode-bidi: isolate;
}

.hero article {
  position: absolute;
  width: 800px;
  height: 6.2rem;
  top: 300px;
  right: 5px;
  opacity: 0.7;
  background-color: white;
  color: var(--accent2-color);
}

article {
    display: block;
    unicode-bidi: isolate;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.hero article img {
  float: right;
  width: 125px;
  margin-left: 10px;
  border: 2px solid #ddd;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

/* History Section */
.history-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 16px;
  margin-bottom: 30px;
}

section {
    display: block;
    unicode-bidi: isolate;
}

section {
  border: var(--border);
}

h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
  text-align: center;
  background-color: var(--accent1-color);
  margin-bottom: 16px;
}

.history img {
  width: 100%;
  border-radius: 8px;
}

.history img {
    position: relative;
    width: 250px;
    right: 10px;
    float: right;
    margin: 2%;
    bottom: 50px;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.history-boxes {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 0px;
    padding: 0px;
    max-width: 1000px;
    margin: 10px;
    border: 1px;
}
.history-boxes p {
    width: 50%;
}

.history-boxes img {
    width: 300px;
    padding: 20px;
    border-radius: 5px;
}

/* Adventures section */
.adventure-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.adventure-grid figure {
  text-align: center;
}

.adventure-grid img {
  width: 100%;
  border-radius: 8px;
}

/* Footer */
footer {
    text-align: center;
    border: var(--border);
    height: 80px;
}

footer {
  display: block;
  unicode-bidi: isolate;
}

footer {
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 10px 0;
}

.socialmedia a {
  text-decoration: none;
  float: right;
  position: relative;
  bottom: 80px;
  margin: .2%;
}

.socialmedia img {
  width: 30px;
  height: auto;
}